{% load extra_tags %}
{% load l10n %}

{% comment %}
{% if record.es_moneda_extranjera %}
<script type="text/javascript">
  console.log("{{ record.importe }}");
</script>
{% endcomment %}

<button class= "button" onclick="location.href='{% url 'excluir_gasto_resumen' record.item_pk %}'" type="button">Excluir</button>
<button class= "button" onclick="
window.open(
'{% url 'admin:gastos_movimiento_add' %}?importe={{ record|get:'importe(f)'|unlocalize }}&{{ record.datos.parametros_url }}'
,'name','width=800,height=720')
" type="button">Cargar</button>



