{% load extra_tags %}
{% load l10n %}

<a href="
{% url 'admin:gastos_movimiento_add' %}?
importe={{ record|get:'importe(f)'|unlocalize }}&
{{ record.datos.parametros_url }}
" target="popup" onclick="
window.open(
'{% url 'admin:gastos_movimiento_add' %}?importe={{ record|get:'importe(f)'|unlocalize }}&{{ record.datos.parametros_url }}'
,'name','width=800,height=720')
">Cargar</a>

<a href="
{% url 'admin:gastos_movimiento_add' %}?
titular={{ record.datos.titular }}&
entidad_financiera={{ record.datos.entidad_financiera }}&
concepto={{ record.datos.concepto }}&
cupon={{ record|get:'cupon(f)' }}&
cantidad_cuotas={{ record.datos.cuotas }}&
{% if not record.datos.concepto %}
observacion={{ record|get:'detalle(f)'|safe }}&
{% endif %}
importe={{ record|get:'importe(f)'|unlocalize }}&
mes_inicio={% now 'Y-m-d' %}&
_popup=1
" target="popup" onclick="window.open('{% url 'admin:gastos_movimiento_add' %}?titular={{ record.datos.titular }}&entidad_financiera={{ record.datos.entidad_financiera }}&concepto={{ record.datos.concepto }}&cupon={{ record|get:'cupon(f)' }}&cantidad_cuotas={{ record.datos.cuotas }}&{% if not record.datos.concepto %}observacion={{ record|get:'detalle(f)'|safe }}&{% endif %}importe={{ record|get:'importe(f)'|unlocalize }}&mes_inicio={% now 'Y-m-d' %}&_popup=1','name','width=600,height=400')">Cargar</a>
