<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{% load compress %}

{% compress css %}
    <link rel="stylesheet" href="{% static "bootstrap-4.1.3/scss/bootstrap.scss" %}" type="text/x-scss" charset="utf-8">
{% endcompress %}

<style type="text/css">
    .dropdown-item {
        font-size: 20px;
    }
    .nav-item {
        font-size: 20px;
    }
    .navbar ul li {
        list-style-type: none;
        padding: 0;
    }
    .navbar .dropdown-item {
        width: auto;
    }
</style>

</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

{# bootstrap js #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
{% compress js %}
    <script src="{% static 'bootstrap-4.1.3/js/dist/util.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap-4.1.3/js/dist/dropdown.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap-4.1.3/js/dist/collapse.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{# END bootstrap js #}

<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
          <!--<img src="/static/gastos/img/logo.png" width="30" height="30" alt="">-->
          {% block branding %}{% endblock %}
          <!--
          <a class="navbar-brand" href="#">
              <img src="/static/gastos/img/logo.png" width="30" height="30" alt="">
              Gastos fijos
          </a>
          -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'admin:gastos_gasto_changelist' %}?actual=actual">Gastos actuales</a>
                      <a class="dropdown-item" href="{% url 'admin:gastos_resumentntemp_changelist' %}">Gastos en Factura</a>
                      <a class="dropdown-item" href="{% url 'admin:gastos_permanente_changelist' %}?actual=actual">Permanentes actuales</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCargar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cargar datos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'admin:gastos_movimiento_add' %}?titular=1&entidad_financiera=1&mes_inicio={{ mes_actual|date:'Y-m-d' }}">Gasto Naranja</a>
                      <a class="dropdown-item" href="{% url 'admin:gastos_movimiento_add' %}?titular=1&entidad_financiera=1&plan_zeta=1&mes_inicio={{ mes_actual|date:'Y-m-d' }}" >Gasto Naranja Zeta</a>
                      <a class="dropdown-item" href="{% url 'admin:gastos_permanente_add' %}">Permanente</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProcesos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Procesos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'extraer_resumen_naranja' %}">Extraer datos de Resumen Naranja</a>
                        <a class="dropdown-item" href="{% url 'procesar_datos_naranja' %}">Procesar datos Naranja</a>
                    </div>
                  </li>
              {% endif %}
            </ul>

            {% block usertools %}
                {% if user.is_authenticated %}
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item dropdown dropleft text-right">
                            <a class="nav-link dropdown-toggle" href="#" id="nav-user-icon" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% block welcome-msg %}<strong>{% firstof user.get_short_name user.get_username %}</strong>{% endblock %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="nav-user-icon">
                                {% block userlinks %}
                                    {% if site_url %}<a class="dropdown-item" href="{{ site_url }}">{% trans 'View site' %}</a>{% endif %}
                                    {% if user.is_active and user.is_staff %}
                                        {% url 'django-admindocs-docroot' as docsroot %}
                                        {% if docsroot %}<a class="dropdown-item" href="{{ docsroot }}">{% trans 'Documentation' %}</a>{% endif %}
                                    {% endif %}
                                    {% if user.has_usable_password %}<a class="dropdown-item" href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>{% endif %}
                                    <a class="dropdown-item" href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                {% endblock %}
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endblock %}
            {% block nav-global %}
            {% endblock %}
            <!-- SEARCH
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
          </div>
        </nav>
        <!-- END Header -->
        {% block breadcrumbs %}
        <!--
        <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        -->
        {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}

</div>
<!-- END Container -->

</body>
</html>
