{% extends 'admin/base.html' %}

{% block title %}Gastos Fijos{% endblock %}
{% block branding %}
<!--
<a href="{% url 'index' %}" class="navbar-brand">Gastos Fijos</a>
-->
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content %}
<div id="content-main">
    <div id="table">
        <table border=0>
            <thead>
                <tr>
                {% for value in lista_tot_mes_por_titular.0.keys %}
                  <th>{{ value }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dict in lista_tot_mes_por_titular %}
                <tr>
                    {% for key, value in dict.items %}
                        {% if key == "total" %}
                            <td>{{ value.normalize }}</td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td style="font-weight:bold">Total mes actual</td>
                <td style="font-weight:bold">{{ total_mes_actual.normalize }}</td>
              </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}