{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="resumen_naranja">
    <button type="submit">Subir</button>
  </form>
{% endblock %}