{% extends 'admin/base.html' %}
{% load static %}
{% block title %}Gastos Fijos{% endblock %}
{% block branding %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'css/proximos.css' %}">{% endblock %}
<!--
<a href="{% url 'index' %}" class="navbar-brand">Gastos Fijos</a>
-->
{% endblock %}

{% block content %}

    <div id="botonera">
    <a href="{% url 'index'  %}">
    <!--    <button class="btn btn-primary">Volver a resumen mes actual</button>-->
        <button class="button">Volver a resumen mes actual</button>
    </a>
    </div>

    {% load django_tables2 %}

    {% for key, values in tablas_por_titular.items %}
        <h2>{{ key }}</h2>
        {% for tabla in values %}
            {% render_table tabla %}
        {% endfor %}
    {% endfor %}

{% endblock %}