{% extends 'admin/base.html' %}
{% load static %}
{% block title %}Gastos Fijos{% endblock %}
{% block branding %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'css/proximos.css' %}">{% endblock %}
<!--
<a href="{% url 'index' %}" class="navbar-brand">Gastos Fijos</a>
-->
{% endblock %}

{% block content %}

{% load django_tables2 %}

<h1>Fecha de factura: {{ fecha_factura }} | Período actual: {{ periodo_actual }}</h1>

{% if not fecha_factura == periodo_actual %}
<h1><span style="color: red">El período de la factura es diferente al período actual</span></h1>
{% endif %}

{% if lista_tablas %}
    {% for value in lista_tablas %}
        <h2>{{ value.0 }}</h2>
        {% render_table value.1 %}
    {% endfor %}
{% endif %}

{% endblock %}