tr[tipo='gasto'] {
    background-color: #C0D6DF;
}
tr[tipo='permanente'] {
    background-color: #EFDD8D;
}
td[tipo='gasto actual'] {
    background-color: #AFC3CB;
}
td[tipo='permanente actual'] {
    background-color: #C4B574;
}
td[tipo='total actual'] {
    background-color: #BABABA;
}